input {
    font-size: 12px;
    width: 450px;
}

p {
    font-size: 16px;
    text-align: center;
}

.confirmation {
    font-size: 16px;
    text-align: center;
}

tr > td:first-child p {
    text-align: left;
    width: 150px;
}

#save_button {

    padding: 5px 15px;
    width: -moz-fit-content;
}
