input {
    font-size: 12px;
    width: 475px;
}

p {
    font-size: 16px;
    text-align: center;
}

.confirmation {
    font-size: 16px;
    text-align: center;
}

tr > td:first-child p {
    text-align: left;
    width: 150px;
}
