body {
    padding: 10px;
    min-width: 550px;
    max-width: 600px;
}

.nav_bar_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#pi_hole_settings_tab_content {
    margin-top: 5px;
}

#save_button {
    width: -moz-fit-content;
}

.headline {
    margin-bottom: 10px;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: unset !important;
}

#bottom_warning {
    margin-top: 10px;
}

@-moz-document url-prefix() {
    .headline {
        font-size: 16px;
    }
}
