* {
    --card-padding: 5px;
}

body {
    min-width: 150px;
    max-width: 190px;
    overflow: hidden; /* Hide scrollbars */
}

#main {
    margin: 1px 1px 1px 1px;
    text-align: center;
}

.text {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}

.card {
    width: 100% !important;
}

.card:nth-child(2) {
    margin-bottom: 5px;
}

.card-body {
    padding: var(--card-padding) !important;
    font-size: 14px;
}

.card-header {
    padding: var(--card-padding) !important;
    font-size: 16px;
}

.card-footer {
    padding: var(--card-padding) !important;
}

.input-group {
    margin-bottom: 10px !important;
}

#time {
    max-width: 80px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

#time:focus {
    border-color: #ced4da;
    box-shadow: unset;
    outline: none;
}

#time_unit {
    min-width: 40px;
}

@-moz-document url-prefix() {
    #time {
        font-size: 16px;
    }
    #time_unit {
        font-size: 16px;
    }
}


.status {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* The switch - the box around the slider */
#switch {
    /* margin-top: 5px; */
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    border-radius: 15px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input + .slider {
    background-color: red;
}

input:checked + .slider {
    background-color: #22B225;
}

input:focus + .slider {
    box-shadow: 0 0 1px #22B225;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
