#main {
    text-align: center;
}

.status {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.enabled {
    font-size: 16px;
    text-align: center;
    color: #22B225;
}

.disabled {
    font-size: 16px;
    text-align: center;
    color: #F60D1A;
}

.text {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2;
}


/* The switch - the box around the slider */
#switch {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #22B225;
}

input:focus + .slider {
    box-shadow: 0 0 1px #22B225;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
