$black-mode-background: #2b3943;
$black-mode-color-light-blue-grey: #94a6bf;
$black-mode-background-light: #334b5b;


@media (prefers-color-scheme: dark) {
  body {
    background: $black-mode-background !important;
    color: white !important;
  }

  .card-header {
    background: $black-mode-background !important;
  }

  .card {
    background: $black-mode-background-light !important;
  }

  .card-body {
    background: $black-mode-background-light;
  }

  .card-footer {
    background: $black-mode-background !important;
  }

  .card {
    border-color: $black-mode-color-light-blue-grey;
  }

  .nav-link:not(.active) {
    color: white !important;
  }

  pre {
    color: white !important;
  }
}
